$default-font-size: 10px;
$modal-width: 500px;
$primary-color: #f8a036;

$btn-primary-background: #EF7B5C;
$btn-primary-border: #e8b112;

$btn-secondary-background: #6c757d;
$btn-secondary-border: #6c757d;

$main-font: 'open-sans', sans-serif;

$md-screen: 768px;
$sm-screen: 992px;
$lg-screen: 992px;
$xlg-screen: 1200px;
$scrollbar-width:12px
