@import "../../../../styles/variables";

.why-choose {
  margin-top: 5rem;

  &__main-title {
    margin-block: 3rem 4rem;
  }

  &__paragraph {
    font-size: $default-font-size * 1.4;
    font-weight: 600;
    margin-bottom: 0;
  }
}
