@import "../../trade";
@import "../../../../styles/mixins";

.trade-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 78px;
  @include respond(phone) {
    padding: 78px 10px;
  }
}

.crypto-form-separator {
  &--line {
    &::before,
    &::after {
      display: inline-block;
      content: "";
      border-top: 1px solid $primary-color;
      width: 5rem;
      margin: 0 0;
      transform: translateY(-0.71rem);
    }

    i {
      font-size: $default-font-size *3;
    }
  }
}

.fa-sync {
  transition: animation;
}

.has-loop {
  animation: loop 0.5s ease-in infinite;
}

@keyframes loop {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-menu.small {
  max-height: 15rem;
}

.select-page-size {
  background-color: transparent;
  color: white;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  option {
    color: black;
  }
}
